<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8"/>
    <title>结算</title>
    <link rel="stylesheet" type="text/css" href="../static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/proList.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/personal.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/font-class.css"/>
</head>
<body>
<!----------------------------------------head------------------>
<div class="head ding">
    <div class="wrapper clearfix">
        <div class="clearfix" id="top">
            <a href="index.html" style="text-decoration: none;">
				<span class="iconfont icon-shuji"
                      style="font-size: 29px;color: orangered;font-weight: 600;">
                    网上图书超市</span>
                <span style="font-size: 16px;color: black;font-weight: bold;font-family: 宋体;">
                    订单结算</span>
            </a>
            <div class="fr clearfix" id="top1">
                <form action="#" method="get" class="fl">
                    <input type="text" placeholder="搜索图书"/>
                    <input type="button"/>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="order cart mt" style="margin-bottom: 30px">
    <!-----------------site------------------->
    <div class="site">
        <p class=" wrapper clearfix">
            <span class="fl decorate">订单确认</span>
            <img class="top" src="../static/img/cart/cartTop02.png">
            <a href="cart.html" class="fr decorate">
                返回购物车&nbsp;<span class="iconfont icon-jiantouyou" style="color: #fff"></span>
            </a>
        </p>
    </div>
    <!-----------------orderCon------------------->
    <div class="orderCon wrapper clearfix">
        <div class="orderL fl">
            <!--------h3---------------->
            <h3>收件信息<a href="#" class="fr" id="addxad">新增地址</a></h3>
            <!--------addres---------------->
            <div class="addres clearfix">
                <!--地址显示区域-->
            </div>
            <h3>支付方式</h3>
            <!--------way---------------->
            <div class="way clearfix">
                <img class="on" src="../static/img/balance/way01.jpg">
                <img src="../static/img/balance/way02.jpg">
                <img src="../static/img/balance/way03.jpg">
            </div>
        </div>
        <div class="orderR fr">
            <div class="msg">
                <h3>订单内容</h3>
                <!--------ul---------------->
            </div>
            <!--------tips---------------->
            <div class="tips">
                <p><span class="fl">商品金额：</span><span class="fr totalPrice"></span></p>
                <p><span class="fl">优惠金额：</span><span class="fr">￥0.00</span></p>
                <p><span class="fl">运费：</span><span class="fr">免运费</span></p>
            </div>
            <!--------tips count---------------->
            <div class="count tips">
                <p><span class="fl">合计：</span><span class="fr totalPrice">￥139.80</span></p>
            </div>
            <!--<input type="button" name="" value="去支付"> -->
            <a href="pay_success.html" class="pay">去支付</a>
        </div>
    </div>
</div>
<!--编辑弹框-->
<!--遮罩-->
<div class="mask"></div>
<div class="adddz adddz2">
    <form>
        <input type="text" placeholder="姓名" id="adddz_name" required="required"/>
        <input type="text" placeholder="手机号" id="adddz_phone" required="required"/>
        <div class="city">
            <!--省份选择-->
            <input type="hidden" value="" id="addr-show">
            <select id="prov" onchange="showCity(this)">
                <option>请选择省份</option>
            </select>
            <!--城市选择-->
            <select id="city" onchange="showCountry(this)">
                <option>请选择城市</option>
            </select>

            <!--县区选择-->
            <select id="country" onchange="selecCountry(this)">
                <option>请选择县/区</option>
            </select>
        </div>
        <textarea name="" rows="" cols="" placeholder="详细地址" id="adddz_addrDetail" required="required"></textarea>
        <input type="text" placeholder="邮政编码" id="adddz_postcode" required="required"/>
        <div class="bc">
            <input type="button" value="保存" class="met1"/>
            <input type="button" value="取消"/>
        </div>
    </form>
</div>
<div class="readd adddz2">
    <form>
        <input type="text" value="" id="readd_name"/>
        <input type="text" value="" id="readd_phone"/>
        <div class="city">
            <input type="hidden" value="" id="c_addr-show">
            <select id="c_prov" onchange="c_showCity(this)">
                <option></option>
            </select>
            <!--城市选择-->
            <select id="c_city" onchange="c_showCountry(this)">
                <option></option>
            </select>

            <!--县区选择-->
            <select id="c_country" onchange="c_selecCountry(this)">
                <option></option>
            </select>
        </div>
        <textarea name="" rows="" cols="" placeholder="详细地址"  id="readd_address"></textarea>
        <input type="text" placeholder="邮政编码" value=""  id="readd_postcode"/>
        <div class="bc">
            <input type="button" value="保存" class="met2"/>
            <input type="button" value="取消"/>
        </div>
    </form>
</div>
<!--返回顶部-->
<div class="gotop">
    <a href="index.html">
        <dl>
            <dt><span class="iconfont icon-shouye" style="font-size: 20px;color: rgb(161,0,0);"></span></dt>
            <dd>返回<br/>首页</dd>
        </dl>
    </a>
    <a href="cart.html">
        <dl>
            <dt><span class="iconfont icon-gouwuche" style="font-size: 20px;color: rgb(161,0,0);"></span></dt>
            <dd>去购<br/>物车</dd>
        </dl>
    </a>
    <a href="personal.html">
        <dl>
            <dt><span class="iconfont icon-app_icons--" style="font-size: 20px;color: rgb(161,0,0);"></span></dt>
            <dd>个人<br/>中心</dd>
        </dl>
    </a>
    <a href="#" class="toptop" style="display: none">
        <dl>
            <dt><span class="iconfont icon-jiantoushang" style="font-size: 20px;color: rgb(161,0,0);"></span></dt>
            <dd>返回<br/>顶部</dd>
        </dl>
    </a>
</div>
<!--footer-->
<div class="slogan">
    <span><strong>让阅读成为一种生活习惯！</strong></span>
</div>
<script src="../static/js/city.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/pro.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/balance.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/user.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/method01.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
