<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8"/>
    <title>结算</title>
    <link rel="stylesheet" type="text/css" href="../static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/proList.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/personal.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/font-class.css"/>
</head>
<body>
<!----------------------------------------head------------------>
<div class="head ding">
    <div class="wrapper clearfix">
        <div class="clearfix" id="top">
            <a href="index.html" style="text-decoration: none;">
				<span class="iconfont icon-shuji"
                      style="font-size: 29px;color: orangered;font-weight: 600;">
                    网上图书超市</span>
                <span style="font-size: 16px;color: black;font-weight: bold;font-family: 宋体;">
                    订单结算</span>
            </a>
            <div class="fr clearfix" id="top1">
                <form action="#" method="get" class="fl">
                    <input type="text" placeholder="搜索图书"/>
                    <input type="button"/>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="order cart mt" style="margin-bottom: 30px">
    <!-----------------site------------------->
    <div class="site">
        <p class=" wrapper clearfix">
            <span class="fl decorate">订单确认</span>
            <img class="top" src="../static/img/cart/cartTop02.png">
            <a href="cart.html" class="fr decorate">
                返回购物车&nbsp;<span class="iconfont icon-jiantouyou" style="color: #fff"></span>
            </a>
        </p>
    </div>
    <!-----------------orderCon------------------->
    <div class="orderCon wrapper clearfix">
        <div class="orderL fl">
            <!--------h3---------------->
            <h3>收件信息<a href="#" class="fr">新增地址</a></h3>
            <!--------addres---------------->
            <div class="addres clearfix">
                <div class="addre fl on">
                    <div class="tit clearfix">
                        <p class="fl">张三1
                            <span class="default">[默认地址]</span>
                        </p>
                        <p class="fr">
                            <a href="#">删除</a>
                            <span>|</span>
                            <a href="#" class="edit">编辑</a>
                        </p>
                    </div>
                    <div class="addCon">
                        <p>河北省&nbsp;唐山市&nbsp;路北区&nbsp;大学生公寓村</p>
                        <p>15732570937</p>
                    </div>
                </div>
                <div class="addre fl">
                    <div class="tit clearfix">
                        <p class="fl">张三2
                        </p>
                        <p class="fr">
                            <a href="#" class="setDefault">设为默认</a>
                            <span>|</span>
                            <a href="#">删除</a>
                            <span>|</span>
                            <a href="#" class="edit">编辑</a>
                        </p>
                    </div>
                    <div class="addCon">
                        <p>河北省&nbsp;唐山市&nbsp;路北区&nbsp;大学生公寓村</p>
                        <p>15732570937</p>
                    </div>
                </div>
                <div class="addre fl">
                    <div class="tit clearfix">
                        <p class="fl">张三3
                        </p>
                        <p class="fr">
                            <a href="#" class="setDefault">设为默认</a>
                            <span>|</span>
                            <a href="#">删除</a>
                            <span>|</span>
                            <a href="#" class="edit">编辑</a>
                        </p>
                    </div>
                    <div class="addCon">
                        <p>河北省&nbsp;唐山市&nbsp;路北区&nbsp;大学生公寓村</p>
                        <p>15732570937</p>
                    </div>
                </div>
            </div>
            <h3>支付方式</h3>
            <!--------way---------------->
            <div class="way clearfix">
                <img class="on" src="../static/img/balance/way01.jpg">
                <img src="../static/img/balance/way02.jpg">
                <img src="../static/img/balance/way03.jpg">
            </div>
            <!--<h3>选择快递</h3>-->
            <!--&lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;dis&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
            <!--<div class="dis clearfix">-->
                <!--<span class="on">顺风快递</span>-->
                <!--<span>百世汇通</span>-->
                <!--<span>圆通快递</span>-->
                <!--<span>中通快递</span>-->
            <!--</div>-->
        </div>
        <div class="orderR fr">
            <div class="msg">
                <h3>订单内容</h3>
                <!--------ul---------------->
                <ul class="clearfix">
                    <li class="fl">
                        <img src="../static/img/cart/book.png">
                    </li>
                    <li class="fl">
                        <p>创意现代简约干花花瓶摆件</p>
                        <p>颜色分类：烟灰色玻璃瓶</p>
                        <p>数量：1</p>
                    </li>
                    <li class="fr">￥69.90</li>
                </ul>
                <ul class="clearfix">
                    <li class="fl">
                        <img src="../static/img/cart/book.png">
                    </li>
                    <li class="fl">
                        <p>创意现代简约干花花瓶摆件</p>
                        <p>颜色分类：烟灰色玻璃瓶</p>
                        <p>数量：1</p>
                    </li>
                    <li class="fr">￥69.90</li>
                </ul>
            </div>
            <!--------tips---------------->
            <div class="tips">
                <p><span class="fl">商品金额：</span><span class="fr">￥139.80</span></p>
                <p><span class="fl">优惠金额：</span><span class="fr">￥0.00</span></p>
                <p><span class="fl">运费：</span><span class="fr">免运费</span></p>
            </div>
            <!--------tips count---------------->
            <div class="count tips">
                <p><span class="fl">合计：</span><span class="fr">￥139.80</span></p>
            </div>
            <!--<input type="button" name="" value="去支付"> -->
            <a href="pay_success.html" class="pay">去支付</a>
        </div>
    </div>
</div>
<!--编辑弹框-->
<!--遮罩-->
<div class="mask"></div>
<div class="adddz editAddre">
    <form action="#" method="get">
        <input type="text" placeholder="姓名" class="on"/>
        <input type="text" placeholder="手机号"/>
        <div class="city">
            <select name="">
                <option value="省份/自治区">省份/自治区</option>
            </select>
            <select>
                <option value="城市/地区">城市/地区</option>
            </select>
            <select>
                <option value="区/县">区/县</option>
            </select>
            <select>
                <option value="配送区域">配送区域</option>
            </select>
        </div>
        <textarea name="" rows="" cols="" placeholder="详细地址"></textarea>
        <input type="text" placeholder="邮政编码"/>
        <div class="bc">
            <input type="button" value="保存"/>
            <input type="button" value="取消"/>
        </div>
    </form>
</div>
<!--返回顶部-->
<div class="gotop">
    <a href="index.html">
        <dl>
            <dt><span class="iconfont icon-shouye" style="font-size: 20px;color: rgb(161,0,0);"></span></dt>
            <dd>返回<br/>首页</dd>
        </dl>
    </a>
    <a href="cart.html">
        <dl>
            <dt><span class="iconfont icon-gouwuche" style="font-size: 20px;color: rgb(161,0,0);"></span></dt>
            <dd>去购<br/>物车</dd>
        </dl>
    </a>
    <a href="personal.html">
        <dl>
            <dt><span class="iconfont icon-app_icons--" style="font-size: 20px;color: rgb(161,0,0);"></span></dt>
            <dd>个人<br/>中心</dd>
        </dl>
    </a>
    <a href="#" class="toptop" style="display: none">
        <dl>
            <dt><span class="iconfont icon-jiantoushang" style="font-size: 20px;color: rgb(161,0,0);"></span></dt>
            <dd>返回<br/>顶部</dd>
        </dl>
    </a>
</div>
<!--footer-->
<div class="slogan">
    <span><strong>让阅读成为一种生活习惯！</strong></span>
</div>
<script src="../static/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/pro.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/user.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
