<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书详情</title>
    <link rel="stylesheet" href="../static/css/layui/css/layui.css">
    <link href="../static/css/font-class.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/search_by_cate.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/book_detail.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/global.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<object id="object" style="border:0px" type="text/x-scriptlet" data="header.html" width=100% height=103></object>
<!-- 导航条 -->
<div>
    <nav class="nav-top">
        <ul class="nav-top-ul">
            <li><a href="javascript:void(0)">图书详情</a></li>
        </ul>
    </nav>
</div>
<!-- 商品内容列表区域上部 -->
<div id="content" class="wrap clear">
    <div class="clear2"></div>
    <div class="book_own_cate wrap clear" id="cate">
        //分类导航栏
    </div>
    <div class="description clear">
        <div class="dleftArea fl">
            <div class="topItem">
                <div class="preview" id="preview">
                    <img src="" alt="" height="400" width="400" id="first_img">
                    <!--标记-->
                    <div class="mark" id="mark"></div>
                    <!--遮罩层-->
                    <div class="superMark" id="superMark"></div>
                </div>
                <div class="big-preview" id="big-preview"></div>
            </div>
            <div class="spec-list" id="spec-list">
                <ul id="preview_img">
                    <!--<li class="active">-->
                    <!--<img src="../static/img/list4_big1.jpg" alt="">-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<img src="../static/img/cart/book.png" alt="">-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<img src="../static/img/cart/add.jpg" alt="">-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<img src="../static/img/cart/cartTop01.png" alt="">-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<img src="../static/img/cart/sub.jpg" alt="">-->
                    <!--</li>-->
                </ul>
            </div>
            <div class="collect">
                <a href="#" class="iconfont icon-shoucang"> 收藏图书</a>
            </div>
        </div>
        <div class="drightArea fl clear">
            <div class="book_info fl clear">
                <div id="book_word">
                    <span class="book_name" id="book_name"></span>
                    <div id="p-ad" class="p-ad J-ad-1279804"></div>
                </div>
                <div class="bookinfo">
                    <span>作者:<a id="bookinfo_author"></a></span>
                    <span>出版社:<a id="bookinfo_publisher"></a></span>
                    <span>出版时间:<span id="bookinfo_publishTime"></span></span>
                </div>
                <div id="summary">
                    <div id="summary-price">
                        <div class="dt">单价:</div>
                        <div class="dd">
                            <span style="color: #e4393c;">￥</span>
                            <strong class="p-price" id="jd-price"></strong>
                            <span style="font-size: 14px;color: #e4393c;padding-right: 5px" id="jd-discount"></span>
                            <span style="font-size: 13px;"> 定价<del id="jd-prePrice"></del></span>
                        </div>
                    </div>
                    <div id="J-summary-top" class="summary-top">
                        <div id="summary-promotion" class="hide" style="display: block;">
                            <div class="star2">
                                <span class="level">
                                    <span style=""></span>
                                </span>
                                <a href="#" target="_blank" name="itemlist-review" id="jd-remark"></a>
                                <span style="font-size: 12px;color: #000;">条评论</span>
                            </div>
                        </div>
                    </div>
                    <div id="summary-stock" class="clear">
                        <div class="dt">配 送 至</div>
                        <!--<div class="dd clearfix">-->
                        <div class="all_addr">
                            <div id="store-selector">
                                <div class="text">
                                    <div></div>
                                    <b></b></div>
                                <div onclick="$('#store-selector').removeClass('hover')" class="close"></div>
                            </div><!--store-selector end-->
                            <div id="store-prompt"><strong></strong></div><!--store-prompt end--->
                        </div>
                        <div id="store-prompt2">
                            有货
                            <span class="charges"></span>
                        </div>
                        <!--</div>-->
                        <span class="clr"></span>
                    </div>
                    <div class="amount" clstag="shangpin|keycount|product|1|fuwu">
                        <div class="dt">服&nbsp;&nbsp;务</div>
                        <div class="dd">
                            <span class="deliver">由&nbsp;
                            <span style="color: #000;">图书<sub>online</sub></span>
                            &nbsp;发货，并提供售后服务。
                            </span>
                        </div>
                    </div>
                    <!-- 购买数量 -->
                    <div class="amount">
                        <div class="dt">数&nbsp;&nbsp;量</div>
                        <dd>
                            <span class="stock" id="J_Stock">
                            <a href="#" hidefocus="" class="reduce J_Reduce iconfont disable-reduce" id="sub_num">-</a>
                            <input id="J_IptAmount" type="text" class="tb-text" value="1" maxlength="8"
                                   title="请输入购买量"><a href="#" hidefocus="" class="tb-increase J_Increase tb-iconfont" id="add_num">+</a>件
                            </span>
                            <em>(库存<span id="J_SpanStock" class="count"></span>件)</em>
                        </dd>
                    </div>
                </div>
                <!-- /购买数量 -->
                <!-- 立即购买，放入购物车 -->
                <div id="J_juValid" class="action clear">
                    <div class="btn-add fl">
                        <a href="#" title="加入购物车" class="J_LinkAdd" data-spm-click="gostr=/tbdetail;locaid=d2"
                           shortcut-key="a" shortcut-label="加入购物车" shortcut-effect="click"><i
                                class="iconfont">&#xe60c;</i>加入购物车</a>
                    </div>
                    <div class="btn-buy fl">
                        <a href="lookShoppingCar.html" data-addfastbuy="true" title="点击此按钮，到下一步确认购买信息" class="J_LinkBuy"
                           data-spm-click="gostr=/tbdetail;locaid=d1" shortcut-key="b" shortcut-label="立即购买"
                           shortcut-effect="click">立即购买</a>
                    </div>
                </div>
            </div>
            <div class="service_more_info fr">
                <p class="title clearfix">
                    <span class="title_name">
                    <span class="iconfont icon-shuji"></span>
                    <span class="dang_red">网上图书超市</span>
                    </span>
                </p>
                <ul class="fuwu clearfix" id="shop-service" style="">
                    <li class="zpbz">
                        <i></i>正品保障
                    </li>
                    <li class="hdfk" id="huodaofukuan">
                        <i></i>货到付款
                    </li>
                    <li class="fwzc">
                        <i></i>服务支持
                    </li>
                    <li class="cjfh">
                        <i></i>差价返还
                    </li>
                    <li class="hh">
                        <i></i>15天换货
                    </li>
                    <li class="lpbz">
                        <i></i>礼品包装
                    </li>
                    <li class="zcth other">
                        <i></i>支持7天无理由退货
                    </li>
                    <li class="zclpk other J-lpk">
                        <i></i>支持礼品卡
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 图书详细说明下部 -->
<div id="detail" class="wrap clear">
    <!--同类书籍推荐-->
    <div id="detailLeft" class="fl">
        <h3>同类书籍推荐</h3>
        <ul class="same_cate_book clear" id="same_cate_book">

        </ul>
    </div>
    <div id="detailRight" class="fr">
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">图书详情</li>
                <!--<li>作者简介</li>-->
                <!--<li>内容简介</li>-->
                <!--<li>目录</li>-->
                <li>图书评价</li>
            </ul>
            <div class="layui-tab-content" style="">
                <!--图书详情-->
                <div class="layui-tab-item layui-show">
                    <div class="book_standard">
                        <table>
                            <tbody>
                            <tr>
                                <td class="name">
                                    &nbsp;基本信息
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <ul id="bottom_book_info">
                                        <li>图书名称：<span></span></li>
                                        <li>作者：<span></span></li>
                                        <li>出版社：<span></span></li>
                                        <li>出版时间：<span></span></li>
                                        <li>国际标准书号ISBN：<span></span></li>
                                        <li>所属分类：<span></span></li>
                                        <li>是否为套装：<span></span></li>
                                        <li>包装：<span></span></li>
                                        <li>纸张：<span></span></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--作者简介-->
                    <div class="author_info">
                        <table>
                            <tbody>
                            <tr>
                                <td class="name">
                                    &nbsp;作者简介
                                </td>
                            </tr>
                            <tr>
                                <td class="text" id="bottom_author_info">

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--内容简介-->
                    <div class="author_info">
                        <table>
                            <tbody>
                            <tr>
                                <td class="name">
                                    &nbsp;内容简介
                                </td>
                            </tr>
                            <tr>
                                <td class="text" id="bottom_content_info">

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--目录-->
                    <div class="author_info">
                        <table>
                            <tbody>
                            <tr>
                                <td class="name">
                                    &nbsp;目录
                                </td>
                            </tr>
                            <tr>
                                <td class="text" id="bottom_catalog_info">

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--图书评价-->
                <div class="layui-tab-item">
                    <div>
                        <h3 class="tit">
                            <a href="javascript:;" class="btn_red">去评价</a>
                            全部评价<span> (3697) </span>
                        </h3>
                        <div class="comment_up">
                            <div class="comment_up_left fl">
                                <p>99.6%</p>
                                <p>好评率</p>
                            </div>
                            <div class="comment_up_right fl">
                                <p>买过的人觉得</p>
                                <span class="tag_posi fl">
                                    <a href="javascript:">振奋人心（5）</a>
                                </span>
                                <span class="tag_posi fl">
                                    <a href="javascript:">振奋人心（5）</a>
                                </span>
                                <span class="tag_posi fl">
                                    <a href="javascript:">振奋人心（5）</a>
                                </span>
                                <span class="tag_posi fl">
                                    <a href="javascript:">振奋人心（5）</a>
                                </span>
                                <span class="tag_posi fl">
                                    <a href="javascript:">振奋人心（5）</a>
                                </span>
                                <span class="tag_posi fl">
                                    <a href="javascript:">振奋人心（5）</a>
                                </span>
                                <span class="tag_posi fl">
                                    <a href="javascript:">振奋人心（5）</a>
                                </span>
                                <span class="tag_posi fl">
                                    <a href="javascript:">振奋人心（5）</a>
                                </span>
                                <span class="tag_posi fl">
                                    <a href="javascript:">振奋人心（5）</a>
                                </span>
                            </div>
                        </div>
                        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                            <ul class="layui-tab-title ltt">
                                <li class="layui-this">全部（3597）</li>
                                <li>好评（500）</li>
                                <li>中评（335）</li>
                                <li>差评（67）</li>
                            </ul>
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show">
                                    <div class="fly-panel detail-box" id="flyReply">
                                        <ul class="jieda" id="jieda">
                                            <li data-id="111" class="jieda-daan">
                                                <div class="detail-about detail-about-reply">
                                                    <a class="fly-avatar" href="">
                                                        <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"
                                                             alt=" ">
                                                    </a>
                                                    <div class="fly-detail-user">
                                                        <a href="" class="fly-link">
                                                            <cite>贤心</cite>
                                                        </a>
                                                    </div>

                                                    <div class="detail-hits">
                                                        <span>2017-11-30 12:00:01</span>
                                                    </div>
                                                    <span class="iconfont icon-yigoumai icon_yg"></span>
                                                </div>
                                                <div class="detail-body jieda-body photos">
                                                    <p> 生活是自己的你可以对很多事都无能为力 但能不能无力自拔 旅行带给人不只是简单放松 也不于走多远 只想有人之年里看到另一个自己
                                                        不是为了活着而活着</p>
                                                </div>
                                                <div class="star4">
                                                    <span class="level">
                                                        <span style="width: 65%;"></span>
                                                    </span>
                                                    <span style="color: orange">6分</span>
                                                </div>
                                                <div class="jieda-reply">
                                                      <span class="jieda-zan zanok" type="zan">
                                                        <i class="iconfont icon-zan"></i>
                                                        <em>66</em>
                                                      </span>
                                                </div>
                                            </li>
                                            <li data-id="111" class="jieda-daan">
                                                <div class="detail-about detail-about-reply">
                                                    <a class="fly-avatar" href="">
                                                        <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"
                                                             alt=" ">
                                                    </a>
                                                    <div class="fly-detail-user">
                                                        <a href="" class="fly-link">
                                                            <cite>贤心</cite>
                                                        </a>
                                                    </div>

                                                    <div class="detail-hits">
                                                        <span>2017-11-30 12:00:01</span>
                                                    </div>
                                                </div>
                                                <div class="detail-body jieda-body photos">
                                                    <p> 生活是自己的你可以对很多事都无能为力 但能不能无力自拔 旅行带给人不只是简单放松 也不于走多远 只想有人之年里看到另一个自己
                                                        不是为了活着而活着</p>
                                                </div>
                                                <div class="star4">
                                                    <span class="level">
                                                        <span style="width: 65%;"></span>
                                                    </span>
                                                    <span style="color: orange">6分</span>
                                                </div>
                                                <div class="jieda-reply">
                                                      <span class="jieda-zan zanok" type="zan">
                                                        <i class="iconfont icon-zan"></i>
                                                        <em>66</em>
                                                      </span>
                                                </div>
                                            </li>
                                            <li data-id="111" class="jieda-daan">
                                                <div class="detail-about detail-about-reply">
                                                    <a class="fly-avatar" href="">
                                                        <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"
                                                             alt=" ">
                                                    </a>
                                                    <div class="fly-detail-user">
                                                        <a href="" class="fly-link">
                                                            <cite>贤心</cite>
                                                        </a>
                                                    </div>

                                                    <div class="detail-hits">
                                                        <span>2017-11-30 12:00:01</span>
                                                    </div>
                                                </div>
                                                <div class="detail-body jieda-body photos">
                                                    <p> 生活是自己的你可以对很多事都无能为力 但能不能无力自拔 旅行带给人不只是简单放松 也不于走多远 只想有人之年里看到另一个自己
                                                        不是为了活着而活着</p>
                                                </div>
                                                <div class="star4">
                                                    <span class="level">
                                                        <span style="width: 65%;"></span>
                                                    </span>
                                                    <span style="color: orange">6分</span>
                                                </div>
                                                <div class="jieda-reply">
                                                      <span class="jieda-zan zanok" type="zan">
                                                        <i class="iconfont icon-zan"></i>
                                                        <em>66</em>
                                                      </span>
                                                </div>
                                            </li>
                                            <li data-id="111" class="jieda-daan">
                                                <div class="detail-about detail-about-reply">
                                                    <a class="fly-avatar" href="">
                                                        <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"
                                                             alt=" ">
                                                    </a>
                                                    <div class="fly-detail-user">
                                                        <a href="" class="fly-link">
                                                            <cite>贤心</cite>
                                                        </a>
                                                    </div>

                                                    <div class="detail-hits">
                                                        <span>2017-11-30 12:00:01</span>
                                                    </div>
                                                    <span class="iconfont icon-yigoumai icon_yg"></span>
                                                </div>
                                                <div class="detail-body jieda-body photos">
                                                    <p> 生活是自己的你可以对很多事都无能为力 但能不能无力自拔 旅行带给人不只是简单放松 也不于走多远 只想有人之年里看到另一个自己
                                                        不是为了活着而活着</p>
                                                </div>
                                                <div class="star4">
                                                    <span class="level">
                                                        <span style="width: 65%;"></span>
                                                    </span>
                                                    <span style="color: orange">6分</span>
                                                </div>
                                                <div class="jieda-reply">
                                                      <span class="jieda-zan zanok" type="zan">
                                                        <i class="iconfont icon-zan"></i>
                                                        <em>66</em>
                                                      </span>
                                                </div>
                                            </li>
                                            <li data-id="111" class="jieda-daan">
                                                <div class="detail-about detail-about-reply">
                                                    <a class="fly-avatar" href="">
                                                        <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"
                                                             alt=" ">
                                                    </a>
                                                    <div class="fly-detail-user">
                                                        <a href="" class="fly-link">
                                                            <cite>贤心</cite>
                                                        </a>
                                                    </div>

                                                    <div class="detail-hits">
                                                        <span>2017-11-30 12:00:01</span>
                                                    </div>
                                                </div>
                                                <div class="detail-body jieda-body photos">
                                                    <p> 生活是自己的你可以对很多事都无能为力 但能不能无力自拔 旅行带给人不只是简单放松 也不于走多远 只想有人之年里看到另一个自己
                                                        不是为了活着而活着</p>
                                                </div>
                                                <div class="star4">
                                                    <span class="level">
                                                        <span style="width: 65%;"></span>
                                                    </span>
                                                    <span style="color: orange">6分</span>
                                                </div>
                                                <div class="jieda-reply">
                                                      <span class="jieda-zan zanok" type="zan">
                                                        <i class="iconfont icon-zan"></i>
                                                        <em>66</em>
                                                      </span>
                                                </div>
                                            </li>
                                            <li data-id="111" class="jieda-daan">
                                                <div class="detail-about detail-about-reply">
                                                    <a class="fly-avatar" href="">
                                                        <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"
                                                             alt=" ">
                                                    </a>
                                                    <div class="fly-detail-user">
                                                        <a href="" class="fly-link">
                                                            <cite>贤心</cite>
                                                        </a>
                                                    </div>

                                                    <div class="detail-hits">
                                                        <span>2017-11-30 12:00:01</span>
                                                    </div>
                                                    <span class="iconfont icon-yigoumai icon_yg"></span>
                                                </div>
                                                <div class="detail-body jieda-body photos">
                                                    <p> 生活是自己的你可以对很多事都无能为力 但能不能无力自拔 旅行带给人不只是简单放松 也不于走多远 只想有人之年里看到另一个自己
                                                        不是为了活着而活着</p>
                                                </div>
                                                <div class="star4">
                                                    <span class="level">
                                                        <span style="width: 65%;"></span>
                                                    </span>
                                                    <span style="color: orange">6分</span>
                                                </div>
                                                <div class="jieda-reply">
                                                      <span class="jieda-zan zanok" type="zan">
                                                        <i class="iconfont icon-zan"></i>
                                                        <em>66</em>
                                                      </span>
                                                </div>
                                            </li>
                                            <li data-id="111" class="jieda-daan">
                                                <div class="detail-about detail-about-reply">
                                                    <a class="fly-avatar" href="">
                                                        <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"
                                                             alt=" ">
                                                    </a>
                                                    <div class="fly-detail-user">
                                                        <a href="" class="fly-link">
                                                            <cite>贤心</cite>
                                                        </a>
                                                    </div>

                                                    <div class="detail-hits">
                                                        <span>2017-11-30 12:00:01</span>
                                                    </div>
                                                    <span class="iconfont icon-yigoumai icon_yg"></span>
                                                </div>
                                                <div class="detail-body jieda-body photos">
                                                    <p> 生活是自己的你可以对很多事都无能为力 但能不能无力自拔 旅行带给人不只是简单放松 也不于走多远 只想有人之年里看到另一个自己
                                                        不是为了活着而活着</p>
                                                </div>
                                                <div class="star4">
                                                    <span class="level">
                                                        <span style="width: 65%;"></span>
                                                    </span>
                                                    <span style="color: orange">6分</span>
                                                </div>
                                                <div class="jieda-reply">
                                                      <span class="jieda-zan zanok" type="zan">
                                                        <i class="iconfont icon-zan"></i>
                                                        <em>66</em>
                                                      </span>
                                                </div>
                                            </li>
                                            <li data-id="111" class="jieda-daan">
                                                <div class="detail-about detail-about-reply">
                                                    <a class="fly-avatar" href="">
                                                        <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"
                                                             alt=" ">
                                                    </a>
                                                    <div class="fly-detail-user">
                                                        <a href="" class="fly-link">
                                                            <cite>贤心</cite>
                                                        </a>
                                                    </div>

                                                    <div class="detail-hits">
                                                        <span>2017-11-30 12:00:01</span>
                                                    </div>
                                                </div>
                                                <div class="detail-body jieda-body photos">
                                                    <p> 生活是自己的你可以对很多事都无能为力 但能不能无力自拔 旅行带给人不只是简单放松 也不于走多远 只想有人之年里看到另一个自己
                                                        不是为了活着而活着</p>
                                                </div>
                                                <div class="star4">
                                                    <span class="level">
                                                        <span style="width: 65%;"></span>
                                                    </span>
                                                    <span style="color: orange">6分</span>
                                                </div>
                                                <div class="jieda-reply">
                                                      <span class="jieda-zan zanok" type="zan">
                                                        <i class="iconfont icon-zan"></i>
                                                        <em>66</em>
                                                      </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div style="text-align: center">
                                        <div class="laypage-main">
                                            <span class="laypage-curr">1</span>
                                            <a href="#">2</a>
                                            <a href="#">3</a>
                                            <a href="#">4</a>
                                            <a href="#">5</a>
                                            <span>…</span>
                                            <a href="#" class="laypage-last" title="尾页">尾页</a>
                                            <a href="#" class="laypage-next">下一页</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-tab-item">内容2</div>
                                <div class="layui-tab-item">内容3</div>
                                <div class="layui-tab-item">内容4</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--返回顶部-->
<div class="gotop">
    <a href="#" class="toptop" style="display: none">
        <dl>
            <dt><span class="iconfont icon-jiantoushang" style="font-size: 20px;color: rgb(161,0,0);"></span></dt>
            <dd>返回<br/>顶部</dd>
        </dl>
    </a>
</div>
<script src="../static/css/layui/layui.js"></script>
<script src="../static/js/jquery-2.1.1.min.js"></script>
<script src="../static/js/jquery.fly.min.js"></script>
<script src="../static/js/book_detail.js"></script>
<script src="../static/js/location.js"></script>
<script src="../static/js/public.js"></script>
<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#home-carousel'
            , width: '100%' //设置容器宽度
            , height: '485px'
            , arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式

        });
    });
    // 定位
    $.ajax({
        url: 'http://restapi.amap.com/v3/ip',
        data: {key: '049d254de7046935c431b8db38ce95b3'},
        success: function (arg) {
            $('#location').text(arg.city);
        },
        error: function (arg) {
            $('#location').text(arg.info);
        }
    });

    layui.use('element', function () {
        var $ = layui.jquery
            , element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
    });
</script>
</body>
</html>