<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书详情</title>
    <link rel="stylesheet" href="../static/css/layui/css/layui.css">
    <link href="../static/css/font-class.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/search_by_cate.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/book_detail.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/global.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<object id="object" style="border:0px" type="text/x-scriptlet" data="header.html" width=100% height=103></object>
<!-- 导航条 -->
<div>
    <nav class="nav-top">
        <ul class="nav-top-ul">
            <li><a href="javascript:void(0)">图书详情</a></li>
        </ul>
    </nav>
</div>
<!-- 商品内容列表区域上部 -->
<div id="content" class="wrap clear">
    <div class="clear2"></div>
    <div class="book_own_cate wrap clear" id="cate">
        //分类导航栏
    </div>
    <div class="description clear">
        <div class="dleftArea fl">
            <div class="topItem">
                <div class="preview" id="preview">
                    <img src="" alt="" height="400" width="400" id="first_img">
                    <!--标记-->
                    <div class="mark" id="mark"></div>
                    <!--遮罩层-->
                    <div class="superMark" id="superMark"></div>
                </div>
                <div class="big-preview" id="big-preview"></div>
            </div>
            <div class="spec-list" id="spec-list">
                <ul id="preview_img">
                    <!--<li class="active">-->
                    <!--<img src="../static/img/list4_big1.jpg" alt="">-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<img src="../static/img/cart/book.png" alt="">-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<img src="../static/img/cart/add.jpg" alt="">-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<img src="../static/img/cart/cartTop01.png" alt="">-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<img src="../static/img/cart/sub.jpg" alt="">-->
                    <!--</li>-->
                </ul>
            </div>
            <div class="collect">
                <a href="#" class="iconfont icon-shoucang"> 收藏图书</a>
            </div>
        </div>
        <div class="drightArea fl clear">
            <div class="book_info fl clear">
                <div id="book_word">
                    <span class="book_name" id="book_name"></span>
                    <div id="p-ad" class="p-ad J-ad-1279804"></div>
                </div>
                <div class="bookinfo">
                    <span>作者:<a id="bookinfo_author"></a></span>
                    <span>出版社:<a id="bookinfo_publisher"></a></span>
                    <span>出版时间:<span id="bookinfo_publishTime"></span></span>
                </div>
                <div id="summary">
                    <div id="summary-price">
                        <div class="dt">单价:</div>
                        <div class="dd">
                            <span style="color: #e4393c;">￥</span>
                            <strong class="p-price" id="jd-price"></strong>
                            <span style="font-size: 14px;color: #e4393c;padding-right: 5px" id="jd-discount"></span>
                            <span style="font-size: 13px;"> 定价<del id="jd-prePrice"></del></span>
                        </div>
                    </div>
                    <div id="J-summary-top" class="summary-top">
                        <div id="summary-promotion" class="hide" style="display: block;">
                            <div class="star2">
                                <span class="level">
                                    <span style=""></span>
                                </span>
                                <a name="itemlist-review" id="jd-remark"></a>
                                <span style="font-size: 12px;color: #000;">条评论</span>
                            </div>
                        </div>
                    </div>
                    <div id="summary-stock" class="clear">
                        <div class="dt">配 送 至</div>
                        <!--<div class="dd clearfix">-->
                        <div class="all_addr">
                            <div id="store-selector">
                                <div class="text">
                                    <div></div>
                                    <b></b></div>
                                <div onclick="$('#store-selector').removeClass('hover')" class="close"></div>
                            </div><!--store-selector end-->
                            <div id="store-prompt"><strong></strong></div><!--store-prompt end--->
                        </div>
                        <div id="store-prompt2">
                            有货
                            <span class="charges"></span>
                        </div>
                        <!--</div>-->
                        <span class="clr"></span>
                    </div>
                    <div class="amount" clstag="shangpin|keycount|product|1|fuwu">
                        <div class="dt">服&nbsp;&nbsp;务</div>
                        <div class="dd">
                            <span class="deliver">由&nbsp;
                            <span style="color: #000;">图书<sub>online</sub></span>
                            &nbsp;发货，并提供售后服务。
                            </span>
                        </div>
                    </div>
                    <!-- 购买数量 -->
                    <div class="amount">
                        <div class="dt">数&nbsp;&nbsp;量</div>
                        <dd>
                            <span class="stock" id="J_Stock">
                            <a href="#" hidefocus="" class="reduce J_Reduce iconfont disable-reduce" id="sub_num">-</a>
                            <input id="J_IptAmount" type="text" class="tb-text" value="1" maxlength="8"
                                   title="请输入购买量"><a href="#" hidefocus="" class="tb-increase J_Increase tb-iconfont"
                                                     id="add_num">+</a>件
                            </span>
                            <em>(库存<span id="J_SpanStock" class="count"></span>件)</em>
                        </dd>
                    </div>
                </div>
                <!-- /购买数量 -->
                <!-- 立即购买，放入购物车 -->
                <div id="J_juValid" class="action clear">
                    <div class="btn-add fl">
                        <a href="#" title="加入购物车" class="J_LinkAdd" data-spm-click="gostr=/tbdetail;locaid=d2"
                           shortcut-key="a" shortcut-label="加入购物车" shortcut-effect="click"><i
                                class="iconfont">&#xe60c;</i>加入购物车</a>
                    </div>
                    <div class="btn-buy fl">
                        <a data-addfastbuy="true" title="点击此按钮，到下一步确认购买信息" class="J_LinkBuy"
                           data-spm-click="gostr=/tbdetail;locaid=d1" shortcut-key="b" shortcut-label="立即购买"
                           shortcut-effect="click">立即购买</a>
                    </div>
                </div>
            </div>
            <div class="service_more_info fr">
                <p class="title clearfix">
                    <span class="title_name">
                    <span class="iconfont icon-shuji"></span>
                    <span class="dang_red">网上图书超市</span>
                    </span>
                </p>
                <ul class="fuwu clearfix" id="shop-service" style="">
                    <li class="zpbz">
                        <i></i>正品保障
                    </li>
                    <li class="hdfk" id="huodaofukuan">
                        <i></i>货到付款
                    </li>
                    <li class="fwzc">
                        <i></i>服务支持
                    </li>
                    <li class="cjfh">
                        <i></i>差价返还
                    </li>
                    <li class="hh">
                        <i></i>15天换货
                    </li>
                    <li class="lpbz">
                        <i></i>礼品包装
                    </li>
                    <li class="zcth other">
                        <i></i>支持7天无理由退货
                    </li>
                    <li class="zclpk other J-lpk">
                        <i></i>支持礼品卡
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 图书详细说明下部 -->
<div id="detail" class="wrap clear">
    <!--同类书籍推荐-->
    <div id="detailLeft" class="fl">
        <h3>同类书籍推荐</h3>
        <ul class="same_cate_book clear" id="same_cate_book">

        </ul>
    </div>
    <div id="detailRight" class="fr">
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">图书详情</li>
                <li>图书评价</li>
            </ul>
            <div class="layui-tab-content" style="">
                <!--图书详情-->
                <div class="layui-tab-item layui-show">
                    <div class="book_standard">
                        <table>
                            <tbody>
                            <tr>
                                <td class="name">
                                    &nbsp;基本信息
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <ul id="bottom_book_info">
                                        <li>图书名称：<span></span></li>
                                        <li>作者：<span></span></li>
                                        <li>出版社：<span></span></li>
                                        <li>出版时间：<span></span></li>
                                        <li>国际标准书号ISBN：<span></span></li>
                                        <li>所属分类：<span></span></li>
                                        <li>是否为套装：<span></span></li>
                                        <li>包装：<span></span></li>
                                        <li>纸张：<span></span></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--作者简介-->
                    <div class="author_info">
                        <table>
                            <tbody>
                            <tr>
                                <td class="name">
                                    &nbsp;作者简介
                                </td>
                            </tr>
                            <tr>
                                <td class="text" id="bottom_author_info">

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--内容简介-->
                    <div class="author_info">
                        <table>
                            <tbody>
                            <tr>
                                <td class="name">
                                    &nbsp;内容简介
                                </td>
                            </tr>
                            <tr>
                                <td class="text" id="bottom_content_info">

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--目录-->
                    <div class="author_info">
                        <table>
                            <tbody>
                            <tr>
                                <td class="name">
                                    &nbsp;目录
                                </td>
                            </tr>
                            <tr>
                                <td class="text" id="bottom_catalog_info">

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--图书评价-->
                <div class="layui-tab-item">
                    <div>
                        <h3 class="tit">
                            <a class="btn_red">去评价</a>
                            全部评价<span id="allRemarkCount"></span>
                        </h3>
                        <div class="comment_up">
                            <div class="comment_up_left fl">
                                <p id="favorableRate"></p>
                                <p style="
                                font-family: sans-serif;
                                ">好评率</p>
                            </div>
                            <div class="comment_up_right fl">
                                <p>买过的人觉得</p>
                                <!--<span class="tag_posi fl">-->
                                    <!--<a href="javascript:">振奋人心</a>-->
                                <!--</span>-->
                            </div>
                        </div>
                        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                            <ul class="layui-tab-title ltt">
                                <li class="layui-this" id="allCount"></li>
                                <li id="goodCount"></li>
                                <li id="middleCount"></li>
                                <li id="badCount"></li>
                            </ul>
                            <div class="layui-tab-content">
                                <div class="layui-tab-item layui-show" id="allRemark">
                                    <div class="fly-panel detail-box">
                                        <ul class="jieda" id="allRemarkUl">

                                        </ul>
                                    </div>
                                </div>
                                <div class="layui-tab-item" id="goodRemark">
                                    <div class="fly-panel detail-box">
                                        <ul class="jieda" id="goodRemarkUl">

                                        </ul>
                                    </div>
                                </div>
                                <div class="layui-tab-item" id="middleRemark">
                                    <div class="fly-panel detail-box">
                                        <ul class="jieda" id="middleRemarkUl">

                                        </ul>
                                    </div>
                                </div>
                                <div class="layui-tab-item" id="badRemark">
                                    <div class="fly-panel detail-box">
                                        <ul class="jieda" id="badRemarkUl">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--遮罩-->
<div class="mask"></div>
<!--评价弹框-->
<div class="pj">
    <div class="clearfix">
        <a href="javascript:void(0)" class="fr gb"><img src="../static/img/appraise/icon4.png"/></a>
    </div>
    <h3>&nbsp;图书评价</h3>
    <form action="javascript:void(0)" method="get">
        <div class="clearfix">
            <p>我对本书的评分是：</p>
            <p class="star3">
                <span class="level3" onclick="fun()" id="level3">
                    <span class="level2" style="width: 100%;"></span>
                </span>
                <span class="desc">10分 极力推荐</span>
            </p>
        </div>
        <textarea cols="50" rows="5" id="textareaid"
                  placeholder="这本书的内容、作者、文笔...给你留下了怎样的印象？是否值得推荐给其他书友？写下你的书评吧~"></textarea>
        <div class="bc">
            <input type="button" id="appr_save" value="保存"/>
            <input type="button" value="取消"/>
        </div>
    </form>
</div>
<!--返回顶部-->
<div class="gotop">
    <a href="#" class="toptop" style="display: none">
        <dl>
            <dt><span class="iconfont icon-jiantoushang" style="font-size: 20px;color: rgb(161,0,0);"></span></dt>
            <dd>TOP</dd>
        </dl>
    </a>
</div>
<script src="../static/css/layui/layui.js"></script>
<script src="../static/js/jquery-2.1.1.min.js"></script>
<script src="../static/js/book_detail.js"></script>
<script src="../static/js/location.js"></script>
<script src="../static/js/public.js"></script>
<script src="../static/js/user.js"></script>
<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#home-carousel'
            , width: '100%' //设置容器宽度
            , height: '485px'
            , arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式

        });
    });
    // 定位
    $.ajax({
        url: 'http://restapi.amap.com/v3/ip',
        data: {key: '049d254de7046935c431b8db38ce95b3'},
        success: function (arg) {
            $('#location').text(arg.city);
        },
        error: function (arg) {
            $('#location').text(arg.info);
        }
    });

    layui.use('element', function () {
        var $ = layui.jquery
            , element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
    });
</script>
<script>
    function fun() {
        var level3 = document.getElementById('level3');

        var off = level3.getBoundingClientRect().left;


        var bindEvent = function (dom, eventName, listener) {
            if (dom.attachEvent) {
                dom.attachEvent('on' + eventName, listener);
            } else {
                dom.addEventListener(eventName, listener);
            }
        }

        bindEvent(level3, 'click', function (e) {
            var offsetX = e.clientX - level3.clientLeft;
            var width = (offsetX - off) / 130 * 100 + "%";
            $(".level2").css("width", width);
            var width_int = Math.round((offsetX - off) / 130 * 10);
            if(width_int == 0) {
                $('.pj .desc').text(width_int + "分 双眼已瞎！");
            } else if(width_int == 1) {
                $('.pj .desc').text(width_int + "分 超烂啊！");
            } else if(width_int == 2) {
                $('.pj .desc').text(width_int + "分 不值一提！");
            } else if(width_int == 3 || width_int == 4) {
                $('.pj .desc').text(width_int + "分 水准之下！");
            } else if(width_int == 5 || width_int == 6) {
                $('.pj .desc').text(width_int + "分 聊胜于无！");
            } else if(width_int == 7 || width_int == 8) {
                $('.pj .desc').text(width_int + "分 值得一看！");
            } else if(width_int == 9 || width_int == 10) {
                $('.pj .desc').text(width_int + "分 极力推荐！");
            }
        });
    }
</script>
</body>
</html>