<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8"/>
    <title>cart</title>
    <link rel="stylesheet" type="text/css" href="../static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/proList.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/font-class.css"/>
</head>
<body>
<!--------------------------------------cart--------------------->
<div class="head ding">
    <div class="wrapper clearfix">
        <div class="clearfix" id="top">
            <a href="index.html" style="text-decoration: none;">
				<span class="iconfont icon-shuji"
                      style="font-size: 29px;color: orangered;font-weight: 600;">
                    网上图书超市</span>
                <span style="font-size: 16px;color: black;font-weight: bold;font-family: 宋体;">
                    购物车</span>
            </a>
            <div class="fr clearfix" id="top1">
                <form action="#" method="get" class="fl">
                    <input type="text" placeholder="搜索图书"/>
                    <input type="button"/>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="cart mt">
    <!-----------------site------------------->
    <div class="site">
        <p class=" wrapper clearfix">
            <span class="fl decorate">我的购物车</span>
            <img class="top" src="../static/img/cart/cartTop01.png">
            <a href="index.html" class="fr decorate">
                继续购物&nbsp;<span class="iconfont icon-jiantouyou" style="color: #fff"></span>
            </a>
        </p>
    </div>
    <!-----------------table------------------->
    <div class="table wrapper3">
        <div class="tr">
            <div>商品</div>
            <div>单价</div>
            <div>数量</div>
            <div>小计</div>
            <div>操作</div>
        </div>
        <div class="th">
            <div class="pro clearfix">
                <label class="fl">
                    <input type="checkbox"/>
                    <span></span>
                </label>
                <a class="fl" href="javascript:void(0);">
                    <dl class="clearfix">
                        <dt class="fl" style="background-color: gray"><img src="../static/img/cart/book.png"></dt>
                        <dd class="fl">
                            <p>创意现代简约干花花瓶摆件</p>
                        </dd>
                    </dl>
                </a>
            </div>
            <div class="price">￥20.00</div>
            <div class="number">
                <p class="num clearfix">
                    <img class="fl sub" src="../static/img/cart/sub.jpg">
                    <span class="fl">1</span>
                    <img class="fl add" src="../static/img/cart/add.jpg">
                </p>
            </div>
            <div class="price sAll">￥20.00</div>
            <div class="price"><a class="del" href="#2">删除</a></div>
        </div>
        <div class="th">
            <div class="pro clearfix">
                <label class="fl">
                    <input type="checkbox"/>
                    <span></span>
                </label>
                <a class="fl" href="javascript:void(0);">
                    <dl class="clearfix">
                        <dt class="fl" style="background-color: gray"><img src="../static/img/cart/book.png"></dt>
                        <dd class="fl">
                            <p>创意现代简约干花花瓶摆件</p>
                        </dd>
                    </dl>
                </a>
            </div>
            <div class="price">￥20.00</div>
            <div class="number">
                <p class="num clearfix">
                    <img class="fl sub" src="../static/img/cart/sub.jpg">
                    <span class="fl">1</span>
                    <img class="fl add" src="../static/img/cart/add.jpg">
                </p>
            </div>
            <div class="price sAll">￥20.00</div>
            <div class="price"><a class="del" href="#2">删除</a></div>
        </div>
        <div class="th">
            <div class="pro clearfix">
                <label class="fl">
                    <input type="checkbox"/>
                    <span></span>
                </label>
                <a class="fl" href="javascript:void(0);">
                    <dl class="clearfix">
                        <dt class="fl" style="background-color: gray"><img src="../static/img/cart/book.png"></dt>
                        <dd class="fl">
                            <p>创意现代简约干花花瓶摆件</p>
                        </dd>
                    </dl>
                </a>
            </div>
            <div class="price">￥20.00</div>
            <div class="number">
                <p class="num clearfix">
                    <img class="fl sub" src="../static/img/cart/sub.jpg">
                    <span class="fl">1</span>
                    <img class="fl add" src="../static/img/cart/add.jpg">
                </p>
            </div>
            <div class="price sAll">￥20.00</div>
            <div class="price"><a class="del" href="#2">删除</a></div>
        </div>
        <div class="th">
            <div class="pro clearfix">
                <label class="fl">
                    <input type="checkbox"/>
                    <span></span>
                </label>
                <a class="fl" href="javascript:void(0);">
                    <dl class="clearfix">
                        <dt class="fl" style="background-color: gray"><img src="../static/img/cart/book.png"></dt>
                        <dd class="fl">
                            <p>创意现代简约干花花瓶摆件</p>
                        </dd>
                    </dl>
                </a>
            </div>
            <div class="price">￥20.00</div>
            <div class="number">
                <p class="num clearfix">
                    <img class="fl sub" src="../static/img/cart/sub.jpg">
                    <span class="fl">1</span>
                    <img class="fl add" src="../static/img/cart/add.jpg">
                </p>
            </div>
            <div class="price sAll">￥20.00</div>
            <div class="price"><a class="del" href="#2">删除</a></div>
        </div>
        <div class="th">
            <div class="pro clearfix">
                <label class="fl">
                    <input type="checkbox"/>
                    <span></span>
                </label>
                <a class="fl" href="javascript:void(0);">
                    <dl class="clearfix">
                        <dt class="fl" style="background-color: gray"><img src="../static/img/cart/book.png"></dt>
                        <dd class="fl">
                            <p>创意现代简约干花花瓶摆件</p>
                        </dd>
                    </dl>
                </a>
            </div>
            <div class="price">￥20.00</div>
            <div class="number">
                <p class="num clearfix">
                    <img class="fl sub" src="../static/img/cart/sub.jpg">
                    <span class="fl">1</span>
                    <img class="fl add" src="../static/img/cart/add.jpg">
                </p>
            </div>
            <div class="price sAll">￥20.00</div>
            <div class="price"><a class="del" href="#2">删除</a></div>
        </div>


        <div class="goOn">空空如也~<a href="index.html">去逛逛</a></div>
        <div class="tr clearfix">
            <label class="fl">
                <input class="checkAll" type="checkbox"/>
                <span></span>
            </label>
            <p class="fl">
                <a href="javascript:void(0);">全选</a>
                <a href="#" class="del">批量删除</a>
            </p>
            <p class="fr">
                <span>共<small id="sl">0</small>件商品</span>
                <span>合计:&nbsp;<small id="all">￥0.00</small></span>
                <a href="balance.html" class="count">结算</a>
            </p>
        </div>
    </div>
</div>
<!--<div class="mask"></div>-->
<div class="tipDel">
    <p>确定要删除被选中的图书吗？</p>
    <p class="clearfix">
        <a class="fl cer" href="#">确定</a>
        <a class="fr cancel" href="#">取消</a>
    </p>
</div>
<!--返回顶部-->
<div class="gotop">
    <a href="index.html">
        <dl>
            <dt><span class="iconfont icon-shouye" style="font-size: 20px;color: rgb(161,0,0);"></span></dt>
            <dd>返回<br/>首页</dd>
        </dl>
    </a>
    <a href="cart.html">
        <dl>
            <dt><span class="iconfont icon-gouwuche" style="font-size: 20px;color: rgb(161,0,0);"></span></dt>
            <dd>去购<br/>物车</dd>
        </dl>
    </a>
    <a href="personal.html">
        <dl>
            <dt><span class="iconfont icon-app_icons--" style="font-size: 20px;color: rgb(161,0,0);"></span></dt>
            <dd>个人<br/>中心</dd>
        </dl>
    </a>
    <a href="#" class="toptop" style="display: none">
        <dl>
            <dt><span class="iconfont icon-jiantoushang" style="font-size: 20px;color: rgb(161,0,0);"></span></dt>
            <dd>返回<br/>顶部</dd>
        </dl>
    </a>
</div>
<!--footer-->
<div class="slogan" id="slogan">
    <span><strong>让阅读成为一种生活习惯！</strong></span>
</div>
<!----------------mask------------------->
<div class="mask"></div>
<!-------------------mask内容------------------->
<!--<div class="proDets">-->
    <!--<img class="off" src="img/temp/off.jpg"/>-->
    <!--<div class="proCon clearfix">-->
        <!--<div class="proImg fr">-->
            <!--<img class="list" src="img/temp/proDet.jpg"/>-->
            <!--<div class="smallImg clearfix">-->
                <!--<img src="img/temp/proDet01.jpg" data-src="img/temp/proDet01_big.jpg">-->
                <!--<img src="img/temp/proDet02.jpg" data-src="img/temp/proDet02_big.jpg">-->
                <!--<img src="img/temp/proDet03.jpg" data-src="img/temp/proDet03_big.jpg">-->
                <!--<img src="img/temp/proDet04.jpg" data-src="img/temp/proDet04_big.jpg">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="fl">-->
            <!--<div class="proIntro change">-->
                <!--<p>颜色分类</p>-->
                <!--<div class="smallImg clearfix">-->
                    <!--<p class="fl on"><img src="img/temp/prosmall01.jpg" alt="白瓷花瓶+20支快乐花"-->
                                          <!--data-src="img/temp/proBig01.jpg"></p>-->
                    <!--<p class="fl"><img src="img/temp/prosmall02.jpg" alt="白瓷花瓶+20支兔尾巴草"-->
                                       <!--data-src="img/temp/proBig02.jpg"></p>-->
                    <!--<p class="fl"><img src="img/temp/prosmall03.jpg" alt="20支快乐花" data-src="img/temp/proBig03.jpg"></p>-->
                    <!--<p class="fl"><img src="img/temp/prosmall04.jpg" alt="20支兔尾巴草" data-src="img/temp/proBig04.jpg"></p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="changeBtn clearfix">-->
                <!--<a href="#2" class="fl"><p class="buy">确认</p></a>-->
                <!--<a href="#2" class="fr"><p class="cart">取消</p></a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="pleaseC">
    <p>请选择需要删除的图书！</p>
    <img class="off" src="../static/img/cart/off.jpg"/>
</div>
<script src="../static/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/pro.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/cart.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
