<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8"/>
    <title>我的订单</title>
    <link rel="stylesheet" type="text/css" href="../static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/order.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/font-class.css"/>
</head>
<body>
<!------------------------------head------------------------------>
<div class="head ding">
    <div class="wrapper clearfix">
        <div class="clearfix" id="top">
            <a href="index.html" style="text-decoration: none;">
				<span class="iconfont icon-shuji"
                      style="font-size: 29px;color: orangered;font-weight: 600;">
                    网上图书超市</span>
                <span style="font-size: 16px;color: black;font-weight: bold;font-family: 宋体;">
                    我的订单</span>
            </a>
            <div class="fr clearfix" id="top1">
                <form action="#" method="get" class="fl">
                    <input type="text" placeholder="搜索图书"/>
                    <input type="button"/>
                </form>
            </div>
        </div>
    </div>
</div>
<!------------------------------idea------------------------------>
<div class="address mt">
    <div class="wrapper clearfix">
        <a href="index.html" class="fl">首页</a>
        <span>/</span>
        <a href="personal.html">个人中心</a>
        <span>/</span>
        <a href="order.html" class="on">我的订单</a>
    </div>
</div>

<!------------------------------Bott------------------------------>
<div class="Bott">
    <div class="wrapper clearfix">
        <div class="zuo fl">
            <h3>
                <a href="#"><img src="../static/img/personal/nan.png"/></a>
                <p class="clearfix">
                    <span class="nickname">陈育钦</span>
                </p>
            </h3>
            <div>
                <h4>个人中心</h4>
                <ul>
                    <li><a href="personal.html">我的中心</a></li>
                    <li><a href="address.html">地址管理</a></li>
                </ul>
                <h4>我的交易</h4>
                <ul>
                    <li><a href="cart.html">我的购物车</a></li>
                    <li class="on"><a href="order.html">我的订单</a></li>
                    <li><a href="appraise.html">我的评价</a></li>
                </ul>
                <h4>账户管理</h4>
                <ul>
                    <li><a href="personalInfo.html">个人信息</a></li>
                    <li><a href="change_pwd.html">修改密码</a></li>
                </ul>
            </div>
        </div>
        <div class="you fl">
            <div class="my clearfix">
                <h2 class="fl">我的订单</h2>
            </div>
            <div class="dlist clearfix">
                <ul class="fl clearfix" id="wa">
                    <li class="on"><a href="#2">全部有效订单</a></li>
                    <li><a href="javascript:void(0);">待支付</a></li>
                    <li><a href="javascript:void(0);">待收货</a></li>
                    <li><a href="javascript:void(0);">已关闭</a></li>
                </ul>
                <form action="#" method="get" class="fr clearfix">
                    <input type="text" name="" id="searchText" value="" placeholder="请输入图书名称、订单号"/>
                    <input type="button" name="" id="searchBtn" value=""/>
                </form>
            </div>
            <div class="dkuang">
                <p class="one">已收货</p>
                <div class="word clearfix">
                    <ul class="fl clearfix">
                        <li>2016年12月1日 18:53</li>
                        <li>杨小黄</li>
                        <li>订单号:5160513358520018</li>
                        <li>在线支付</li>
                    </ul>
                    <p class="fr">订单金额：<span>99.00</span>元</p>
                </div>
                <div class="shohou clearfix">
                    <div class="fl">
                        <div>
                            <a href="javascript:void(0);" class="fl"><img src="../static/img/cart/book.png"/></a>
                            <p class="fl">
                                <a href="javascript:void(0);">家用创意菜盘子圆盘 釉下彩复古</a>
                                <a href="#">¥99.00×1</a>
                            </p>
                        </div>
                        <div>
                            <a href="javascript:void(0);" class="fl"><img src="../static/img/cart/book.png"/></a>
                            <p class="fl">
                                <a href="javascript:void(0);">家用创意菜盘子圆盘 釉下彩复古</a>
                                <a href="#">¥99.00×1</a>
                            </p>
                        </div>
                    </div>
                    <div class="fr">
                        <p class="fr">
                            <a href="appraise.html">待评价</a>
                            <a href="order_detail.html">订单详情</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="dkuang clearfix deng">
                <p class="one fl">待收货</p>
                <div class="clearfix">
                    <div class="fl vewwl">
                        <a href="logistics.html" class="ckwl">查看物流</a>
                        <div class="wuliu">
                            <h4>圆通速递：858888888888888</h4>
                            <ul>
                                <li>
                                    <p>妥投投递并签收，已签收。签收人：本人签收</p>
                                    <p>2016-12-03 17:30:00</p>
                                </li>
                                <li>
                                    <p>深圳市南油速递营销部安排投递（投递员姓名：六六六。联系电话：14243452522;</p>
                                    <p>2016-12-03 08:50:00</p>
                                </li>
                                <li>
                                    <p>到达广东省邮政速递物流有限公司深圳航空邮件处理中心处理中心（经转）</p>
                                    <p>2016-12-03 02:20:00</p>
                                </li>
                                <li>以上为最新跟踪信息<a href="wuliu.html">查看全部</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="word clearfix">
                    <ul class="fl clearfix">
                        <li>2016年12月1日 18:53</li>
                        <li>杨小黄</li>
                        <li>订单号:5160513358520018</li>
                        <li>在线支付</li>
                    </ul>
                    <p class="fr">订单金额：<span>99.00</span>元</p>
                </div>
                <div class="shohou clearfix">
                    <a href="javascript:void(0);" class="fl"><img src="../static/img/cart/book.png"/></a>
                    <p class="fl">
                        <a href="javascript:void(0);">家用创意菜盘子圆盘 釉下彩复古</a>
                        <a href="#">¥99.00×1</a>
                    </p>
                    <p class="fr">
                        <a href="javascript:void(0);">确认收货</a>
                        <a href="order_detail.html">订单详情</a>
                    </p>
                </div>
            </div>
            <div class="dkuang deng">
                <p class="one">待支付</p>
                <div class="word clearfix">
                    <ul class="fl clearfix">
                        <li>2016年12月1日 18:53</li>
                        <li>杨小黄</li>
                        <li>订单号:5160513358520018</li>
                        <li>在线支付</li>
                    </ul>
                    <p class="fr">订单金额：<span>99.00</span>元</p>
                </div>
                <div class="shohou clearfix">
                    <a href="javascript:void(0);" class="fl"><img src="../static/img/cart/book.png"/></a>
                    <p class="fl">
                        <a href="javascript:void(0);">家用创意菜盘子圆盘 釉下彩复古</a>
                        <a href="javascript:void(0);">¥99.00×1</a>
                    </p>
                    <p class="fr">
                        <a href="javascript:void(0);">立即支付</a>
                        <a href="order_detail.html">订单详情</a>
                    </p>
                </div>
            </div>
            <div class="dkuang">
                <p class="one">已关闭</p>
                <div class="word clearfix">
                    <ul class="fl clearfix">
                        <li>2016年12月1日 18:53</li>
                        <li>杨小黄</li>
                        <li>订单号:5160513358520018</li>
                        <li>在线支付</li>
                    </ul>
                    <p class="fr">订单金额：<span>99.00</span>元</p>
                </div>
                <div class="shohou clearfix">
                    <a href="javascript:void(0);" class="fl"><img src="../static/img/cart/book.png"/></a>
                    <p class="fl">
                        <a href="javascript:void(0);">家用创意菜盘子圆盘 釉下彩复古</a>
                        <a href="#">¥99.00×1</a>
                    </p>
                    <p class="fr">
                        <a href="javascript:void(0);">交易失败</a>
                        <a href="order_detail.html">订单详情</a>
                    </p>
                </div>
            </div>
            <div class="fenye clearfix">
                <a href="javascript:void(0);"><img src="../static/img/order/zuo.jpg"/></a>
                <a href="javascript:void(0);">1</a>
                <a href="javascript:void(0);"><img src="../static/img/order/you.jpg"/></a>
            </div>
        </div>
    </div>
</div>
<!--返回顶部-->
<div class="gotop">
    <a href="index.html">
        <dl>
            <dt><span class="iconfont icon-shouye" style="font-size: 20px;color: rgb(161,0,0);"></span></dt>
            <dd>返回<br/>首页</dd>
        </dl>
    </a>
    <a href="cart.html">
        <dl>
            <dt><span class="iconfont icon-gouwuche" style="font-size: 20px;color: rgb(161,0,0);"></span></dt>
            <dd>去购<br/>物车</dd>
        </dl>
    </a>
    <a href="personal.html">
        <dl>
            <dt><span class="iconfont icon-app_icons--" style="font-size: 20px;color: rgb(161,0,0);"></span></dt>
            <dd>个人<br/>中心</dd>
        </dl>
    </a>
    <a href="#" class="toptop" style="display: none">
        <dl>
            <dt><span class="iconfont icon-jiantoushang" style="font-size: 20px;color: rgb(161,0,0);"></span></dt>
            <dd>返回<br/>顶部</dd>
        </dl>
    </a>
</div>
<!--footer-->
<div class="slogan">
    <span><strong>让阅读成为一种生活习惯！</strong></span>
</div>
<script src="../static/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/user.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
