<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8"/>
    <title>ok</title>
    <link rel="stylesheet" type="text/css" href="../static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/proList.css"/>
</head>
<body>
<!----------------------------------------order------------------>
<div class="head ding">
    <div class="wrapper clearfix">
        <div class="clearfix" id="top">
            <a href="index.html" style="text-decoration: none;">
				<span class="iconfont icon-shuji"
                      style="font-size: 29px;color: orangered;font-weight: 600;">
                    网上图书超市</span>
                <span style="font-size: 16px;color: black;font-weight: bold;font-family: 宋体;">
                    支付</span>
            </a>
            <div class="fr clearfix" id="top1">
                <form action="#" method="get" class="fl">
                    <input type="text" placeholder="搜索图书"/>
                    <input type="button"/>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="order mt cart" style="margin-bottom:70px">
    <div class="site">
        <p class="wrapper clearfix">
            <span class="fl decorate">支付成功</span>
            <img class="top" src="../static/img/cart/cartTop03.png">
        </p>
    </div>
    <p class="ok">支付成功！
        <a href="order.html">前往订单页>></a>
        <a href="cart.html">前往购物车>></a>
    </p>
</div>
<div class="like">
    <h4>猜你喜欢</h4>
    <div class="bottom">
        <div class="hd">
            <span class="prev"><img src="../static/img/ok/prev.png"></span>
            <span class="next"><img src="../static/img/ok/next.png"></span>
        </div>
        <div class="imgCon wrapper bd">
            <div class="likeList clearfix">
                <div id="first_recommend">
                   <!--推荐五本图书-->
                </div>
                <div id="second_recommend">
                    <!--推荐五本图书-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<div class="slogan">
    <span><strong>让阅读成为一种生活习惯！</strong></span>
</div>
<script src="../static/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/pro.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/pay_success.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/jquery.SuperSlide.2.1.1.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">

</script>
</body>
</html>
