<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8"/>
    <title>个人信息</title>
    <link rel="stylesheet" type="text/css" href="../static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/personalInfo.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/font-class.css"/>
</head>
<body>
<!------------------------------head------------------------------>
<div class="head ding">
    <div class="wrapper clearfix">
        <div class="clearfix" id="top">
            <a href="index.html" style="text-decoration: none;">
				<span class="iconfont asicon-shuji"
                      style="font-size: 29px;color: orangered;font-weight: 600;">
                    网上图书超市</span>
                <span style="font-size: 16px;color: black;font-weight: bold;font-family: 宋体;">
                    个人信息</span>
            </a>
            <div class="fr clearfix" id="top1">
                <form action="#" method="get" class="fl">
                    <input type="text" placeholder="搜索图书"/>
                    <input type="button"/>
                </form>
            </div>
        </div>
    </div>
</div>
<!------------------------------idea------------------------------>
<div class="address mt">
    <div class="wrapper clearfix">
        <a href="index.html" class="fl">首页</a>
        <span>/</span>
        <a href="personal.html">个人中心</a>
        <span>/</span>
        <a href="personalInfo.html" class="on">个人信息</a>
    </div>
</div>

<!------------------------------Bott------------------------------>
<div class="Bott">
    <div class="wrapper clearfix">
        <div class="zuo fl">
            <h3>
                <a href="#"><img src="../static/img/personal/nan.png"/></a>
                <p class="clearfix">
                    <span class="nickname">陈育钦</span>
                </p>
            </h3>
            <div>
                <h4>个人中心</h4>
                <ul>
                    <li><a href="personal.html">我的中心</a></li>
                    <li><a href="address.html">地址管理</a></li>
                </ul>
                <h4>我的交易</h4>
                <ul>
                    <li><a href="cart.html">我的购物车</a></li>
                    <li><a href="order.html">我的订单</a></li>
                    <li><a href="appraise.html">我的评价</a></li>
                </ul>
                <h4>账户管理</h4>
                <ul>
                    <li class="on"><a href="personalInfo.html">个人信息</a></li>
                    <li><a href="change_pwd.html">修改密码</a></li>
                </ul>
            </div>
        </div>
        <div class="you fl">
            <h2>个人信息</h2>
            <div class="gxin">
                <div class="tx"><a href="#"><img src="../static/img/personal/nan.png"/>
                    <p id="avatar">修改头像</p></a></div>
                <div class="xx">
                    <h3 class="clearfix">
                        <strong class="fl">基础资料</strong>
                        <a href="#" class="fr" id="edit1">编辑</a>
                    </h3>
                    <div>
                        <span class="title">昵称：</span>
                        <span>六六六</span>
                    </div>
                    <div>
                        <span class="title">生日：</span>
                        <span>1995-06-06</span>
                    </div>
                    <div>
                        <span class="title">性别：</span>
                        <span>女</span>
                    </div>
                    <div>
                        <span class="title">兴趣爱好：</span>
                        <span>女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女</span>
                    </div>
                    <div>
                        <span class="title">自我介绍：</span>
                        <span>女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女女</span>
                    </div>
                    <h3>高级设置</h3>
                    <!--<div><span class="fl">银行卡</span><a href="#" class="fr">管理</a></div>-->
                    <div>
                        <span class="fl">
                            <span class="title">居住地：</span>
                            <span>中国</span>
                        </span>
                        <a href="#" class="fr" id="edit2">修改</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--遮罩-->
<div class="mask"></div>
<!--编辑弹框-->
<div class="bj">
    <div class="clearfix"><a href="#" class="fr gb"><img src="../static/img/appraise/icon4.png"/></a></div>
    <h3>编辑基础资料</h3>
    <form action="#" method="get">
        <p><label>姓名：</label><input type="text" value="六六六"/></p>
        <p><label>生日：</label><input type="text"/></p>
        <p>
            <label>性别：</label>
            <span><input type="radio" name="sex"/>男</span>
            <span><input type="radio" name="sex"/>女</span>
        </p>
        <div class="bc">
            <input type="button" value="保存"/>
            <input type="button" value="取消"/>
        </div>
    </form>
</div>
<!--高级设置修改-->
<div class="xg">
    <div class="clearfix"><a href="#" class="fr gb"><img src="../static/img/appraise/icon4.png"/></a></div>
    <h3>切换账号地区</h3>
    <form action="#" method="get">
        <p><label>姓名：</label><input type="text" value="六六六"/></p>
        <div class="bc">
            <input type="button" value="保存"/>
            <input type="button" value="取消"/>
        </div>
    </form>
</div>
<!--修改头像-->
<div class="avatar">
    <div class="clearfix"><a href="#" class="fr gb"><img src="../static/img/appraise/icon4.png"/></a></div>
    <h3>修改头像</h3>
    <form action="#" method="get">
        <h4>请上传图片</h4>
        <input type="button" value="上传头像"/>
        <p>请上传JPG或者PNG的图像，且大小不超过2M！</p>
        <input type="submit" value="提交"/>
    </form>
</div>

<!--返回顶部-->
<div class="gotop">
    <a href="cart.html">
        <dl>
            <dt><span class="iconfont icon-gouwuche" style="font-size: 20px;color: rgb(161,0,0);"></span></dt>
            <dd>去购<br/>物车</dd>
        </dl>
    </a>
    <a href="personal.html">
        <dl>
            <dt><span class="iconfont icon-app_icons--" style="font-size: 20px;color: rgb(161,0,0);"></span></dt>
            <dd>个人<br/>中心</dd>
        </dl>
    </a>
    <a href="#" class="toptop" style="display: none">
        <dl>
            <dt><span class="iconfont icon-jiantoushang" style="font-size: 20px;color: rgb(161,0,0);"></span></dt>
            <dd>返回<br/>顶部</dd>
        </dl>
    </a>
</div>


<!--footer-->
<div class="slogan">
    <span><strong>让阅读成为一种生活习惯！</strong></span>
</div>

<script src="../static/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/user.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
