<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8"/>
    <title>个人中心</title>
    <link rel="stylesheet" type="text/css" href="../static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/personal.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/font-class.css"/>
</head>
<body>
<!------------------------------head------------------------------>
<div class="head ding">
    <div class="wrapper clearfix">
        <div class="clearfix" id="top">
            <a href="index.html" style="text-decoration: none;">
				<span class="iconfont icon-shuji"
                      style="font-size: 29px;color: orangered;font-weight: 600;">
                    网上图书超市</span>
                <span style="font-size: 16px;color: black;font-weight: bold;font-family: 宋体;">
                    个人中心</span>
            </a>
            <div class="fr clearfix" id="top1">
                <form action="#" method="get" class="fl">
                    <input type="text" placeholder="搜索图书"/>
                    <input type="button"/>
                </form>
            </div>
        </div>
    </div>
</div>
<!------------------------------idea------------------------------>
<div class="address mt" id="add">
    <div class="wrapper clearfix">
        <a href="index.html" class="fl">首页</a>
        <span>/</span>
        <a href="personal.html">个人中心</a>
        <span>/</span>
        <a href="personal.html" class="on">我的中心</a>
    </div>
</div>

<!------------------------------Bott------------------------------>
<div class="Bott">
    <div class="wrapper clearfix">
        <div class="zuo fl">
            <h3>
                <a href="#"><img src="../static/img/personal/nan.png"/></a>
                <p class="clearfix">
                    <span class="nickname"></span>
                </p>
            </h3>
            <div>
                <h4>个人中心</h4>
                <ul>
                    <li class="on"><a href="personal.html">我的中心</a></li>
                    <li><a href="address.html">地址管理</a></li>
                </ul>
                <h4>我的交易</h4>
                <ul>
                    <li><a href="cart.html">我的购物车</a></li>
                    <li><a href="order.html">我的订单</a></li>
                    <li><a href="appraise.html">我的评价</a></li>
                </ul>
                <h4>账户管理</h4>
                <ul>
                    <li><a href="personalInfo.html">个人信息</a></li>
                    <li><a href="change_pwd.html">修改密码</a></li>
                </ul>
            </div>
        </div>
        <div class="you fl">
            <div class="tx clearfix">
                <div class="fl clearfix">
                    <a href="#" class="fl"><img src="../static/img/personal/nan.png"/></a>
                    <p class="fl"><span class="nickname"></span><a href="personalInfo.html">修改个人信息></a></p>
                </div>
                <div class="fr" id="email"></div>
            </div>
            <div class="bott">
                <div class="clearfix">
                    <!--<a style="-->
                    <!--line-height: 90px;-->
                    <!--" href="#" class="fl">-->
                    <!--<span class="iconfont icon-dengdaizhifu" style="font-size: 90px;color: orange;"></span>-->
                    <!--</a>-->
                    <img class="fl" src="../static/img/daizhifu.png"/>
                    <p class="fl"><span>待支付的订单：<strong>0</strong></span>
                        <a href="order.html">查看待支付订单></a>
                    </p>
                </div>
                <div class="clearfix">
                    <img style="padding-right: 10px;" class="fl" src="../static/img/daishouhuo.png"/>
                    <p class="fl"><span>待收货的订单：<strong>0</strong></span>
                        <a href="order.html">查看待收货订单></a>
                    </p>
                </div>
                <div class="clearfix">
                    <img class="fl" src="../static/img/daipingjia.png"/>
                    <p class="fl"><span>待评价的图书：<strong>0</strong></span>
                        <a href="appraise.html">查看待评价图书></a>
                    </p>
                </div>
                <div class="clearfix">
                    <img class="fl" src="../static/img/xihuan.png"/>
                    <p class="fl"><span>喜欢的图书：<strong>0</strong></span>
                        <a href="#">查看喜欢的图书></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!--返回顶部-->
<div class="gotop">
    <a href="index.html">
        <dl>
            <dt><span class="iconfont icon-shouye" style="font-size: 20px;color: rgb(161,0,0);"></span></dt>
            <dd>返回<br/>首页</dd>
        </dl>
    </a>
    <a href="cart.html">
        <dl>
            <dt><span class="iconfont icon-gouwuche" style="font-size: 20px;color: rgb(161,0,0);"></span></dt>
            <dd>去购<br/>物车</dd>
        </dl>
    </a>
    <a href="personal.html">
        <dl>
            <dt><span class="iconfont icon-app_icons--" style="font-size: 20px;color: rgb(161,0,0);"></span></dt>
            <dd>个人<br/>中心</dd>
        </dl>
    </a>
    <a href="#" class="toptop" style="display: none">
        <dl>
            <dt><span class="iconfont icon-jiantoushang" style="font-size: 20px;color: rgb(161,0,0);"></span></dt>
            <dd>返回<br/>顶部</dd>
        </dl>
    </a>
</div>
<div class="slogan">
    <span><strong>让阅读成为一种生活习惯！</strong></span>
</div>
<script src="../static/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/public.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/user.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/personal.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
